<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin:Home</title>
</head>
<body>
Menu:
<a th:text="'atualizar Covid19'" th:href="@{/admin/att/cases}"/>
<a th:text="'atualizar indice'" th:href="@{/admin/att/indice}"/>
<a th:text="'atualizar Currency'" th:href="@{/admin/att/currency}"/>
<a th:text="'atualizar Notice'" th:href="@{/admin/att/notice}"/><br>
<a th:text="Home" th:href="@{/home}"/>
</body>
</html>