<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/LayoutPadrao">
<head>
    <meta charset="UTF-8">
    <title>Currency</title>
</head>
<body>
Finance:
<table id="country-tb">
    <thead>
    <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Price</th>
        <th>Var</th>
        <th>%Var</th>
        <th>Date Atualization</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="indice: ${indiceList}">
        <td th:text="${indice.simbolo}" style="color:blue"></td>
        <td th:text="${indice.nome}"></td>
        <td th:text="${indice.preco}"></td>
        <td th:text="${indice.variacao}"
            th:style="'color: '+ (${indice.variacao}>0?green:(${indice.variacao}<0?red:black))"></td>
        <td th:text="${indice.variacaoRange} + '%'"
            th:style="'color: '+ (${indice.variacaoRange}>0?green:(${indice.variacaoRange}<0?red:black))"></td>
        <td th:text="${indice.dateAtt}"></td>
    </tr>
    </tbody>
</table>
<a th:text="Home" th:href="@{/home}"/>
</body>
<style type="text/css">
body{
    background:rgb(10,10,10);
    color:rgb(250,250,250)
    }
</style>
</html>