<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pais</title>
</head>
<body>
<table>
    <td th:text="'Cases of covid-19 on '+${data.country}+':'"></td>
    <td th:text="'Cases: '+${data.cases}"></td>
    <td th:text="'Deaths: '+${data.deaths}"></td>
    <td th:text="'Total Recovered: '+${data.totalRecovered}"></td>
    <td th:text="'New Deaths: '+${data.newDeaths}"></td>
    <td th:text="'New cases: '+${data.newCases}"></td>
    <td th:text="'Critical cases: '+${data.criticalCases}"></td>
    <td th:text="'Active cases: '+${data.activeCases}"></td>
    <td th:text="'% contaminated of population: '+${data.porcentageOfPop} + '%'"></td>
    <td th:text="'Date Atualization: ' + ${data.dateAtt}"></td>
</table>
    <a href="/covid19/cases">All countries</a>
</body>
<style type="text/css">
body{
    background:rgb(10,10,10);
    color:rgb(250,250,250)
    }
</style>
</html>